# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log
importer.log

# VS Code
.vscode/
*.code-workspace

# OS/system files
.DS_Store
Thumbs.db

# Virtual envs
env/
venv/
ENV/

# PyInstaller builds
dist/
build/
*.spec

# Config and credentials (if applicable)
.config.json
files/Contact-Data - Excep -China-Bangladesh-India-Turkey-US-UK.xlsx
files/Contact-Data-China-Bangladesh-Turkey.xlsx
files/Contact-Data-Excep-Removed Company-India.xlsx
files/Contact-Data-Removed Company-India-Mumbai.xlsx
files/Contact-Data-Removed Company-India-without-Mumbai.xlsx
files/Contact-Data-US-UK.xlsx
